form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 15px;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}
label {
  display: flex;
  gap: 4px;
  flex-direction: column;
  width: 100%;
}
label span {
  text-align: start;
}
.field {
  padding: 4px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid rgb(47, 59, 66);
}

.glowOnHover {
  width: 200px;
  border: 1px solid rgb(104, 113, 118);
  transition: border 250ms ease-in, box-shadow 250ms ease-in;
}
.glowOnHover:hover,
.glowOnHover:focus {
  border: 1px solid rgb(100, 161, 192);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 15px, rgba(0, 0, 0, 0.23) 0px 6px 4px;
}
